[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
rasa_core = "*"
rasa_nlu = "*"
rasa_core_sdk = "*"

[dev-packages]

[requires]
python_version = "3.6"
